// colors
$primary-white: #fff;
$primary-blue: #0082F4;
$primary-dark:#34313D;
$primary-blue:#3A3054;
$primary-purple:#4B3F6B;
$primary-grey:#9E9AA8;
$primary-light:#EFF1F7;
$primary-brand-color:#2BD0D0;
$text-color: #000000;

// fonts
$main-font-family:"Poppins", Arial, sans-serif;
$main-font-size: 2rem;
